[submodule "vim/plugged/bufexplorer"]
	path = vim/plugged/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/plugged/lightline"]
	path = vim/plugged/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/plugged/rust.vim"]
	path = vim/plugged/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/plugged/tagbar"]
	path = vim/plugged/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/plugged/vim-dispatch"]
	path = vim/plugged/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugged/vim-lsc"]
	path = vim/plugged/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim/plugged/vim-plug"]
	path = vim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vim/plugged/vim-startify"]
	path = vim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify.git
