[submodule "vim/plugged/bufexplorer"]
	path = vim/plugged/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/plugged/lightline"]
	path = vim/plugged/lightline
	url = https://github.com/itchyny/lightline.vim.git
